


{% extends 'base_generic.html' %}




{% block content %}

<h1>{{ election.election_date|date:"Y"}} {{ election.get_election_type_display }} Election for {{ election.election_seat }}</h1>

<p>Election date: {{ election.election_date }} </p>

<h2>Candidates</h2>

<p>There were {{ election.candidate_set.all.count }} candidates in this election.</p>

{% if  election.candidate_set.all.count == 1 %}
<p>The winning candidate ran unopposed.</p>

{% endif %}


<ul>
    {% for c in election.candidate_set.all|dictsortreversed:'candidate_votes_received' %}
        <li>
            <a href="{{ c.candidate_person.get_absolute_url }}">{{ c.candidate_person }}</a>,
            {{ c.candidate_votes_received }} votes received ({{ c.get_candidate_results_display}})
        </li>
    {% endfor %}
</ul>

</p>



<h2>TEST</h2>
election.candidate_set.values: 
{{ election.candidate_set.values }}
///end 
<hr>

election.election_type
 {{ election.election_type }}
///end
<hr>

election.eq 
 {{ election.eq }}
///end 
<hr>

election.v
{{ election.v }} 
<!-- {{ election_detail.election_detail }} -->
///end 
<hr>

election.detail
{{ election_detail }}
//end 
<hr>

election 
{{ election }} 
///end 
<hr>

election.candidate_set.all.values
{{ election.candidate_set.all.values }}
///end
<hr>


<h2>END TEST</h2>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>

<canvas id="chart"></canvas>


{% block scripts %}
<script type = "text/javascript">
  var somVar = "{{ election.candidate_set.values|safe }}"
  console.log(somVar)
  console.log(typeof somVar)

</script>

{% endblock scripts %}

{% endblock %}