{% extends 'base_generic.html' %}

{% block content %}

<h1>{{ election.election_date|date:"Y"}} {{ election.get_election_type_display }} Election for {{ election.election_seat }}</h1>

<p>Election date: {{ election.election_date }} </p>

<h2>Candidates</h2>

<p>There were {{ election.candidate_set.all.count }} candidates in this election.</p>

{% if  election.candidate_set.all.count == 1 %}
<p>The winning candidate ran unopposed.</p>

{% endif %}


<ul>
    {% for c in election.candidate_set.all|dictsortreversed:'candidate_votes_received' %}
        <li>
            <a href="{{ c.candidate_person.get_absolute_url }}">{{ c.candidate_person }}</a> ({{ c.get_candidate_party_display }}),
            {{ c.candidate_votes_received }} votes received ({{ c.get_candidate_results_display}})
        </li>
    {% endfor %}
</ul>

</p>

<div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>



<script type="text/javascript"> 

    var can = {{ candidates|safe }};
    console.log(can);
    console.log(typeof can);

    var fj = {{ results|safe }};

    console.log('fj is')
    console.log(typeof fj)
    console.log(fj)
    console.log({{ candidates|safe }})
    console.log({{ vote_count|safe  }})
    var barColors = [
        "#003f5c", 
        "#665191", 
        "#d45087", 
        "#ff7c43", 
        "#003f5c", 
        "#665191", 
        "#d45087", 
        "#ff7c43", 
        "#003f5c", 
        "#665191", 
        "#d45087", 
        "#ff7c43", 
        "#003f5c", 
        "#665191", 
        "#d45087", 
        "#ff7c43", 
        "#003f5c", 
        "#665191", 
        "#d45087", 
        "#ff7c43", 
        ];

    var config = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: {{ vote_count|safe }},
                // backgroundColor: ['#696969', '#808080', '#A9A9A9'],
                backgroundColor: barColors,
                label: "Election"
                }],
            labels: {{ candidates|safe }},
        },

        options: {responsive: true}

    }; // close var config 

    window.onload = function(){
        var ctx = document.getElementById('pie-chart').getContext('2d');
        window.myPie = new Chart(ctx, config)
    };

 </script>


{% endblock %}




<canvas id="myChart" width="400" height="100"></canvas>  


