
{% extends "base_generic.html" %}

{% block content %}

<h1>Philadelphia City Council Elections</h1>

<hr>
<h2>2022 Special Election</h2>
{% for el in election.special2022 %}
<a href=" {{ el.get_absolute_url }}">{{ el }}</a>; 
{{ el.candidate_set.all.count }} candidate{{ el.candidate_set.all.count|pluralize }}
{% if el.candidate_set.all.count == 1 %} (Unopposed) {% endif %}
<br> 
{% endfor %}

<hr>
<h2>2019 General Election</h2>
{% for el in election.general2019 %}
<a href=" {{ el.get_absolute_url }}">{{ el }}</a>; 
{{ el.candidate_set.all.count }} candidate{{ el.candidate_set.all.count|pluralize }}
{% if el.candidate_set.all.count == 1 %} (Unopposed) {% endif %}
<br> 
{% endfor %}

<hr>
<h2>2015 General Election</h2>
{% for el in election.general2015 %}
<a href=" {{ el.get_absolute_url }}">{{ el }}</a>; 
{{ el.candidate_set.all.count }} candidate{{ el.candidate_set.all.count|pluralize }}
{% if el.candidate_set.all.count == 1 %} (Unopposed) {% endif %}
<br> 
{% endfor %}

{% endblock %}
