{% extends 'base_generic.html' %}

{% block content %}

<h1>{{ election.election_date|date:"Y"}} {{ election.get_election_type_display }} Election for {{ election.election_seat }}</h1>

<p>Election date: {{ election.election_date }} </p>

<h2>Candidates</h2>

<p>There were {{ election.candidate_set.all.count }} candidates in this election.</p>

{% if  election.candidate_set.all.count == 1 %}
<p>The winning candidate ran unopposed.</p>

{% endif %}


<ul>
    {% for c in election.candidate_set.all|dictsortreversed:'candidate_votes_received' %}
        <li>
            <a href="{{ c.candidate_person.get_absolute_url }}">{{ c.candidate_person }}</a>,
            {{ c.candidate_votes_received }} votes received ({{ c.get_candidate_results_display}})
        </li>
    {% endfor %}
</ul>

</p>

{% endblock %}

